<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Yekan Bakh:wght@400;500&display=swap" />
  	
  	<style>
    		body {
      			margin: 0;
      			line-height: normal;
    		}
    		
    		
    		
  	</style>
  	
  	
</head>
<body>
  	
  	<div style="width: 100%;  position: relative;  background-color: #694ddd;  height: 65.75rem;  text-align: center;  font-size: 0.293rem;  color: #4c120e;  font-family: 'Yekan Bakh';">
    		<div style="position: absolute;  height: 100%;  width: 100%;  top: 0rem;  right: 0%;  bottom: 0rem;  left: 0%;  text-align: left;  font-family: Roboto;">
                <img style="position: absolute; height: 100%; width: 100%; top: 0rem; right: 0%; bottom: 0rem; left: 0%; max-width: 100%; overflow: hidden; max-height: 100%; object-fit: cover;" alt="" src="{{ url_for('static', filename='Images/Frame 48 1.png') }}">
      			
      			<div style="position: absolute;  width: 75.69%;  top: 16.375rem;  right: 12.15%;  left: 12.15%;  border-radius: 25px;  display: flex;  flex-direction: row;  flex-wrap: wrap;  align-items: center;  justify-content: center;  gap: 1.375rem;">
        				<div  style="width: 50.063rem;  position: relative;  backdrop-filter: blur(62.67px);  border-radius: 12px;  background-color: rgba(255, 255, 255, 0.06);  height: 36.688rem;">
          					<div style="position: absolute;  top: calc(50% - 269.5px);  left: calc(50% - 376.5px);  width: 47.063rem;  height: 33.688rem;  display: flex;  flex-direction: column;  align-items: center;  justify-content: center;  gap: 1.881rem;">
            						<div id='video-player' style="align-self: stretch;  flex: 1;  position: relative;  border-radius: 12px;  overflow: hidden;">
              							
              							<div style="position: absolute;  top: 20.125rem;  left: 0rem;  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));  width: 47.063rem;  height: 8.188rem;">
              							</div>
              							<div style="position: absolute;  height: 7.86%;  width: 97.53%;  top: 88.98%;  right: 1.35%;  bottom: 3.16%;  left: 1.12%;">
                								<img style="position: absolute;  height: 52.53%;  width: 1.73%;  top: 47.34%;  right: 96.54%;  bottom: 0.13%;  left: 1.73%;  max-width: 100%;  overflow: hidden;  max-height: 100%;" alt="" >
                								
                								<img style="position: absolute;  height: 47.47%;  width: 1.95%;  top: 49.97%;  right: 91.47%;  bottom: 2.56%;  left: 6.59%;  max-width: 100%;  overflow: hidden;  max-height: 100%;" alt="" src="{{ url_for('static', filename='Images/next-video.svg') }}">
                								
                								<img style="position: absolute;  height: 47.47%;  width: 1.95%;  top: 49.97%;  right: 86.39%;  bottom: 2.56%;  left: 11.66%;  max-width: 100%;  overflow: hidden;  max-height: 100%;" alt="" src="{{ url_for('static', filename='Images/sound.svg') }}">
                								
                								<img style="position: absolute;  height: 52.53%;  width: 2.17%;  top: 44.71%;  right: 1.51%;  bottom: 2.76%;  left: 96.32%;  max-width: 100%;  overflow: hidden;  max-height: 100%;" alt="" src="{{ url_for('static', filename='Images/fullscreen.svg') }}">
                								
                								<img style="position: absolute;  height: 44.66%;  width: 2.63%;  top: 49.97%;  right: 6.56%;  bottom: 5.37%;  left: 90.82%;  max-width: 100%;  overflow: hidden;  max-height: 100%;" alt="" src="{{ url_for('static', filename='Images/theather-mode.svg') }}">
                								
                								<img style="position: absolute;  height: 55.34%;  width: 2.7%;  top: 44.71%;  right: 11.67%;  bottom: -0.05%;  left: 85.63%;  max-width: 100%;  overflow: hidden;  max-height: 100%;" alt="" src="{{ url_for('static', filename='Images/pic-in-pic.svg') }}">
                								
                								<img style="position: absolute;  height: 44.66%;  width: 2.37%;  top: 49.97%;  right: 22.26%;  bottom: 5.37%;  left: 75.37%;  max-width: 100%;  overflow: hidden;  max-height: 100%;" alt="" src="{{ url_for('static', filename='Images/cc.svg') }}">
                								
                								<div style="position: absolute;  height: 63.2%;  width: 3.13%;  top: 34.19%;  right: 16.2%;  bottom: 2.61%;  left: 80.67%;">
                  									<img style="position: absolute;  height: 83.11%;  width: 67.39%;  top: 16.64%;  right: 32.61%;  bottom: 0.24%;  left: 0%;  max-width: 100%;  overflow: hidden;  max-height: 100%;" alt="" src="{{ url_for('static', filename='Images/settings.svg') }}">
                  									
                  									<div style="position: absolute;  top: 0rem;  left: 0.793rem;  width: 0.644rem;  height: 0.7rem;">
                    										<div style="position: absolute;  top: 0rem;  left: 0rem;  border-radius: 1.87px;  background-color: #d22f21;  width: 0.644rem;  height: 0.525rem;">
                    										</div>
                    										<div style="position: absolute;  top: 0.059rem;  left: 0.149rem;  width: 0.369rem;  height: 0.644rem;">
                      											<div style="position: absolute;  top: 0.018rem;  left: 0rem;  display: inline-block;  width: 0.369rem;">HD</div>
                      											<div style="position: absolute;  top: 0rem;  left: 0rem;  color: #fff;  display: inline-block;  width: 0.369rem;">HD</div>
                    										</div>
                  									</div>
                								</div>
                								<div style="position: absolute;  top: 1.171rem;  left: 7.286rem;  font-size: 0.761rem;  color: #ebeae9;  display: inline-block;  width: 4.563rem;  height: 0.7rem;">27:42 / 1:00:00</div>
                								<div style="position: absolute;  top: 0rem;  left: 0rem;  width: 45.9rem;  height: 0.175rem;">
                  									<div style="position: absolute;  top: 0rem;  left: 0rem;  background-color: rgba(255, 255, 255, 0.5);  width: 45.9rem;  height: 0.175rem;">
                  									</div>
                  									<div style="position: absolute;  top: 0rem;  left: 22.057rem;  background-color: rgba(255, 255, 255, 0.5);  width: 4.313rem;  height: 0.175rem;  transform:  rotate(180deg);  transform-origin: 0 0;">
                  									</div>
                  									<div style="position: absolute;  top: 0rem;  left: 0rem;  background-color: #ff0000;  width: 17.744rem;  height: 0.175rem;">
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div style="display: flex;  flex-direction: row;  align-items: flex-start;  justify-content: flex-start;  text-align: center;  font-size: 1.375rem;  color: rgba(255, 255, 255, 0.86);  font-family: 'Yekan Bakh';">
              							<div style="width: 35.719rem;  display: flex;  flex-direction: column;  align-items: flex-start;  justify-content: flex-start;  gap: 0.625rem;">
                								<div id='video_title' style="align-self: stretch;  position: relative;  line-height: 3.447rem;  font-weight: 500;">هر لوگویی رو متحرک کن Logo Motion</div>
                								<div style="border-radius: 5.01px;  background-color: rgba(204, 0, 0, 0.9);  display: none;  flex-direction: row;  align-items: center;  justify-content: center;  padding: 0rem 0.625rem;  gap: 1.568rem;  text-align: left;  font-size: 1.88rem;  color: #fff;  font-family: Roboto;">
                  									<img style="width: 2.506rem;  position: relative;  height: 2.506rem;  overflow: hidden;  flex-shrink: 0;" alt="" src="{{ url_for('static', filename='Images/ Live.svg') }}">
                  									
                  									<div style="position: relative;  letter-spacing: 0.88px;  line-height: 1.88rem;  text-transform: uppercase;  font-weight: 500;">En direct</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div style="width: 16.688rem;  backdrop-filter: blur(25px);  border-radius: 12px;  background-color: rgba(255, 255, 255, 0.05);  height: 36.688rem;  overflow: hidden;  flex-shrink: 0;  display: flex;  flex-direction: row;  align-items: flex-start;  justify-content: center;  padding: 2rem 1.625rem;  box-sizing: border-box;  text-align: center;  font-size: 1rem;  color: rgba(255, 255, 255, 0.86);  font-family: 'Yekan Bakh';">
          					<div style="flex: 1;  display: flex;  flex-direction: row;  align-items: center;  justify-content: center;">
            						<div style="flex: 1;  position: relative;">
              							<p style="margin: 0;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک</p>
              							<p style="margin: 0;">&nbsp;</p>
              							<p style="margin: 0;"> است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
              							<p style="margin: 0;">&nbsp;</p>
              							<p style="margin: 0;  white-space: pre-wrap;">کتابهای زیادی در ش صت و سه درصد گذشته حال و آیندهلورم ایپسوم متن ساختگی با تولید   سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و  که لازم است و برای شرایط فعلی</p>
              							<p style="margin: 0;">&nbsp;</p>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div style="position: absolute;  width: 100%;  right: 0%;  bottom: 0rem;  left: 0%;  overflow: hidden;  display: flex;  flex-direction: row;  align-items: center;  justify-content: center;  padding: 1.5rem 16.75rem;  box-sizing: border-box;  text-align: center;  font-size: 1.063rem;  color: rgba(255, 255, 255, 0.86);  font-family: 'Yekan Bakh';">
        				<div style="position: relative;  line-height: 0.75rem;">کلیه حقوق برای لوگو محفوظ است.</div>
      			</div>
    		</div>
    		<div style="position: absolute;  width: 46.53%;  top: 7.938rem;  right: 26.74%;  left: 26.74%;  backdrop-filter: blur(25px);  border-radius: 40px;  background-color: rgba(255, 255, 255, 0.05);  display: flex;  flex-direction: row;  align-items: center;  justify-content: space-between;  padding: 0.75rem 1.125rem;  box-sizing: border-box;  cursor: pointer;  font-size: 1rem;  color: rgba(255, 255, 255, 0.86);" id="searchBarContainer">
      			<img style="width: 1.5rem;  position: relative;  height: 1.5rem;  overflow: hidden;  flex-shrink: 0;" alt="" src="{{ url_for('static', filename='Images/search.svg') }}">
      			
      			<div style="display: flex;  flex-direction: row;  align-items: center;  justify-content: center;  gap: 0.5rem;">
        				<div style="position: relative;">دنبال چیز دیگه‌ای میگردی...</div>
        				<img style="width: 1.375rem;  position: relative;  height: 1.375rem;  overflow: hidden;  flex-shrink: 0;" alt="" src="{{ url_for('static', filename='Images/AI Icon.svg') }}">
        				
      			</div>
    		</div>
    		<div style="position: absolute;  width: 100%;  top: 0rem;  right: 0rem;  left: 0rem;  height: 6.063rem;  overflow: hidden;  display: flex;  flex-direction: row;  flex-wrap: wrap;  align-items: center;  justify-content: space-between;  padding: 1.5rem 2.625rem;  box-sizing: border-box;  font-size: 0.916rem;  color: #fff;">
      			<div style="width: 2.5rem;  height: 2.5rem;  overflow: hidden;  flex-shrink: 0;  display: flex;  flex-direction: row;  align-items: center;  justify-content: center;  padding: 0.125rem;  box-sizing: border-box;  cursor: pointer;" id="darklightModeContainer">
        				<img style="width: 1.319rem;  position: relative;  height: 1.319rem;" alt="" src="{{ url_for('static', filename='Images/Group.svg') }}">
        				
      			</div>
      			<div style="height: 1.919rem;  overflow: hidden;  display: flex;  flex-direction: row;  align-items: center;  justify-content: center;  padding: 0.668rem 0.875rem;  box-sizing: border-box;  gap: 1.25rem;">
        				<div style="width: 3.25rem;  position: relative;  line-height: 0.499rem;  font-weight: 500;  display: flex;  align-items: center;  justify-content: center;  height: 1.25rem;  flex-shrink: 0;">ارتباط با ما</div>
        				<img style="width: 0.956rem;  position: relative;  height: 1.419rem;  overflow: hidden;  flex-shrink: 0;" alt="" src="{{ url_for('static', filename='Images/Frame 8.svg') }}">
        				
        				<div style="width: 2.75rem;  position: relative;  line-height: 0.499rem;  font-weight: 500;  display: flex;  align-items: center;  justify-content: center;  height: 1.25rem;  flex-shrink: 0;">درباره ما</div>
        				<img style="width: 0.956rem;  position: relative;  height: 1.419rem;  overflow: hidden;  flex-shrink: 0;" alt="" src="{{ url_for('static', filename='Images/Frame 9.svg') }}">
        				
        				<div style="width: 2.688rem;  position: relative;  line-height: 0.499rem;  font-weight: 500;  display: flex;  align-items: center;  justify-content: center;  height: 1.25rem;  flex-shrink: 0;  cursor: pointer;" id="text2">خانه</div>
      			</div>
      			<div style="width: 3.456rem;  position: relative;  font-size: 1.75rem;  line-height: 0.5rem;  font-weight: 500;  display: flex;  align-items: center;  justify-content: center;  flex-shrink: 0;  cursor: pointer;" id="text">لوگو</div>
    		</div>
  	</div>
  	
  	
  	<script>
        document.addEventListener('DOMContentLoaded', async () => {
            
            const videoId = '{{ video_id }}';
            let array_of_data=videoId.split("_");
            const pipedUrl = `https://piped.video/embed/${array_of_data[0]}`;
            const playerHtml = `<iframe src="${pipedUrl}" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>`;
            document.getElementById("video-player").innerHTML=playerHtml
            document.getElementById("video_title").innerText=array_of_data[1]
            console.log(array_of_data[1])
        });
    </script>
  	
</body>
</html>